/* Override Bootstrap styles */
body.wp-admin {
	background-color: transparent;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
}
.wrap a {
	font-weight: bold;	
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #d9edf7;
}
.table-hover>tbody>tr:hover {
    background-color: #ffc;
}
.ufca-datatable {
	display: none;
}
table.ufca-datatable th {
	background-color: #fff;
}
table.ufca-datatable tr {
	background-color: #fff;
}
.dt-buttons {
	float: right;	
}
.dataTables_length {
	display: inline-block;	
}
.dataTables_wrapper {
	margin: 30px 0;	
}
.dataTables_filter {
	margin-top: 15px;	
}
/* Animate icon */
#loading .glyphicon-refresh {
	display: none;
	width: 100%;
	padding: 60px;
	text-align: center;
}
#loading .glyphicon-refresh-animate {
	display: inline-block;
	-animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

/* Hide elements on main page */
.toplevel_page_ufclas-admin-main .dt-buttons, 
.toplevel_page_ufclas-admin-main .dataTables_filter, 
.toplevel_page_ufclas-admin-main .dataTables_info, 
.toplevel_page_ufclas-admin-main .dataTables_length, 
.toplevel_page_ufclas-admin-main .dataTables_paginate {
	display: none;	
}
td.details-control:before {
	content: "\f502";
	font-size: 20px;
	font-family: dashicons;
	color: #337ab7;
	text-align: center;
	display: block;
	cursor: pointer;
}
tr.shown td.details-control:before {
	content: "\f153";
	color: #AA450A;
}