/* CSS Document */

#info-table {
	display: none;
	width: 100%;
}
#info-table th {
	text-align: left;	
}
#info-table th.id {
	max-width: 20px;	
}
#info-table th.path {
	max-width: 45px;	
}
#info-table th.plugins {
	max-width: 250px;	
}